{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "description": "API to obtain Calendar files from VIT timetable website data",
        "title": "VIT Calendar API",
        "contact": {
            "name": "Sankalp Mukim",
            "url": "github.com/sankalpmukim",
            "email": "sankalpmukim@gmail.com"
        }
    },
    "servers": [
        {
            "url": "https://vitcalapi.tech",
            "description": "Simple Flask application"
        }
    ],
    "paths": {
        "/vellore": {
            "post": {
                "summary": "Returns exact contents writeable to a .ics file for vellore",
                "description": "Obtain the data of full page of VTOP(Vellore Campus) timetable page Make sure the new lines are separated be \\r\\n Only\n",
                "tags": [
                    "json"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            },
                            "example": {
                                "timetable": "\r\nVIT (Vellore Campus)  \r\n\r\n    User Image 20BDS0128(STUDENT)\r\n\r\nTime Table\r\nSemester  \r\n* Only Registered Semester\r\nNote:\r\n\r\n    Students are required to generate the invoice and then proceed to pay the required course fee. Registration is confirmed only if status of the course is 'Registered and Approved' (in regular cases) or 'Registered, Invoice Generated, Fees Paid and Approved' (when there is a requirement for course fee payment).\r\n    Re-registration fee last payment date is 28-02-2021.\r\n\r\n\r\nSl.No \tClass Group \tCourse \tL T P J C \tCategory \tCourse Option \tClass Nbr\t\tSlot -\r\nVenue \tFaculty Details \tRegistered / Updated Date & Time \tAttendance Date - Type \tStatus & Ref No\r\n\r\n1\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCHY1701 - Engineering Chemistry\r\n\r\n( Embedded Theory )\r\n\t\r\n\r\n3 0 0 0 3\r\n\tUniversity Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210507137\r\n\t\r\n\r\nE2+TE2 -\r\n\r\nSJT315\r\n\t\r\n\r\nBADAL KUMAR MANDAL -\r\n\r\nSAS\r\n\t\r\n\r\n20-Feb-2021 10:08\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n2\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCHY1701 - Engineering Chemistry\r\n\r\n( Embedded Lab )\r\n\t\r\n\r\n0 0 2 0 1\r\n\tUniversity Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210507188\r\n\t\r\n\r\nL5+L6 -\r\n\r\nSMVG027\r\n\t\r\n\r\nASHOK KUMAR S.K -\r\n\r\nSAS\r\n\t\r\n\r\n20-Feb-2021 10:08\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n3\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCSE1002 - Problem Solving and Object Oriented Programming\r\n\r\n( Lab Only )\r\n\t\r\n\r\n0 0 6 0 3\r\n\tUniversity Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210506602\r\n\t\r\n\r\nL1+L2+L21+L22+L29+L30 -\r\n\r\nSJT416\r\n\t\r\n\r\nSUGANYA P -\r\n\r\nSITE\r\n\t\r\n\r\n20-Feb-2021 10:06\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n4\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCSE1003 - Digital Logic and Design\r\n\r\n( Embedded Theory )\r\n\t\r\n\r\n3 0 0 0 3\r\n\tProgramme Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210506535\r\n\t\r\n\r\nB2+TB2 -\r\n\r\nSJT305\r\n\t\r\n\r\nAVINASH CHANDRA -\r\n\r\nSENSE\r\n\t\r\n\r\n20-Feb-2021 10:07\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n5\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCSE1003 - Digital Logic and Design\r\n\r\n( Embedded Lab )\r\n\t\r\n\r\n0 0 2 0 1\r\n\tProgramme Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210506537\r\n\t\r\n\r\nL11+L12 -\r\n\r\nSJT316\r\n\t\r\n\r\nAVINASH CHANDRA -\r\n\r\nSENSE\r\n\t\r\n\r\n20-Feb-2021 10:07\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n6\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCSE2011 - Data Structures and Algorithms\r\n\r\n( Embedded Theory )\r\n\t\r\n\r\n3 0 0 0 3\r\n\tProgramme Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210507473\r\n\t\r\n\r\nA2+TA2 -\r\n\r\nSJT415\r\n\t\r\n\r\nSHALINI L -\r\n\r\nSCOPE\r\n\t\r\n\r\n20-Feb-2021 10:03\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n7\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nCSE2011 - Data Structures and Algorithms\r\n\r\n( Embedded Lab )\r\n\t\r\n\r\n0 0 2 0 1\r\n\tProgramme Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210507474\r\n\t\r\n\r\nL23+L24 -\r\n\r\nMGB107 A\r\n\t\r\n\r\nSHALINI L -\r\n\r\nSCOPE\r\n\t\r\n\r\n20-Feb-2021 10:03\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n8\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nMAT1014 - Discrete Mathematics and Graph Theory\r\n\r\n( Theory Only )\r\n\t\r\n\r\n3 2 0 0 4\r\n\tProgramme Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210505924\r\n\t\r\n\r\nC2+TC2+TCC2+V5 -\r\n\r\nSJT311\r\n\t\r\n\r\nRAJESH BHATT -\r\n\r\nSAS\r\n\t\r\n\r\n20-Feb-2021 10:04\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n9\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nMAT2001 - Statistics for Engineers\r\n\r\n( Embedded Theory )\r\n\t\r\n\r\n3 0 0 0 3\r\n\tUniversity Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210505855\r\n\t\r\n\r\nG2+TG2 -\r\n\r\nSJT421\r\n\t\r\n\r\nROY.S -\r\n\r\nSAS\r\n\t\r\n\r\n20-Feb-2021 10:05\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n10\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nMAT2001 - Statistics for Engineers\r\n\r\n( Embedded Lab )\r\n\t\r\n\r\n0 0 2 0 1\r\n\tUniversity Core \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210506601\r\n\t\r\n\r\nL13+L14 -\r\n\r\nSJT119\r\n\t\r\n\r\nROY.S -\r\n\r\nSAS\r\n\t\r\n\r\n20-Feb-2021 10:05\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\n\r\n11\r\n\t\r\n\r\nUG Freshers\r\n\t\r\n\r\nSTS1202 - Introduction to Quantitative, Logical and Verbal Ability\r\n\r\n( Soft Skill )\r\n\t\r\n\r\n0 0 0 0 1\r\n\tUniversity Core (GENERAL Basket) \t\r\n\r\nRegular\r\n\t\r\n\r\nVL2020210505805\r\n\t\r\n\r\nF2+TF2 -\r\n\r\nSJT324\r\n\t\r\n\r\nSMART (APT) -\r\n\r\nSSL\r\n\t\r\n\r\n20-Feb-2021 10:01\r\n\t\r\n\r\n21-Feb-2021\r\n- Manual\r\n\t\r\n\r\nRegistered and Approved\r\nTotal Number Of Credits: 24\r\nTheory \tStart \t08:00 \t09:00 \t10:00 \t11:00 \t12:00 \t- \tLunch \t14:00 \t15:00 \t16:00 \t17:00 \t18:00 \t18:46 \t19:01\r\nEnd \t08:45 \t09:45 \t10:45 \t11:45 \t12:45 \t- \tLunch \t14:45 \t15:45 \t16:45 \t17:45 \t18:45 \t19:00 \t19:45\r\nLab \tStart \t08:00 \t08:46 \t10:00 \t10:46 \t11:31 \t12:16 \tLunch \t14:00 \t14:46 \t16:00 \t16:46 \t17:31 \t18:16 \t-\r\nEnd \t08:45 \t09:30 \t10:45 \t11:30 \t12:15 \t13:00 \tLunch \t14:45 \t15:30 \t16:45 \t17:30 \t18:15 \t19:00 \t-\r\nMON \tTheory \tA1 \tF1 \tD1 \tTB1 \tTG1 \t- \tLunch \tA2-CSE2011-ETH-SJT415-UGF \tF2-STS1202-SS-SJT324-UGF \tD2 \tTB2-CSE1003-ETH-SJT305-UGF \tTG2-MAT2001-ETH-SJT421-UGF \t- \tV3\r\nLab \tL1-CSE1002-LO-SJT416-UGF \tL2-CSE1002-LO-SJT416-UGF \tL3 \tL4 \tL5-CHY1701-ELA-SMVG027-UGF \tL6-CHY1701-ELA-SMVG027-UGF \tLunch \tL31 \tL32 \tL33 \tL34 \tL35 \tL36 \t-\r\nTUE \tTheory \tB1 \tG1 \tE1 \tTC1 \tTAA1 \t- \tLunch \tB2-CSE1003-ETH-SJT305-UGF \tG2-MAT2001-ETH-SJT421-UGF \tE2-CHY1701-ETH-SJT315-UGF \tTC2-MAT1014-TH-SJT311-UGF \tTAA2 \t- \tV4\r\nLab \tL7 \tL8 \tL9 \tL10 \tL11-CSE1003-ELA-SJT316-UGF \tL12-CSE1003-ELA-SJT316-UGF \tLunch \tL37 \tL38 \tL39 \tL40 \tL41 \tL42 \t-\r\nWED \tTheory \tC1 \tA1 \tF1 \tV1 \tV2 \t- \tLunch \tC2-MAT1014-TH-SJT311-UGF \tA2-CSE2011-ETH-SJT415-UGF \tF2-STS1202-SS-SJT324-UGF \tTD2 \tTBB2 \t- \tV5-MAT1014-TH-SJT311-UGF\r\nLab \tL13-MAT2001-ELA-SJT119-UGF \tL14-MAT2001-ELA-SJT119-UGF \tL15 \tL16 \tL17 \tL18 \tLunch \tL43 \tL44 \tL45 \tL46 \tL47 \tL48 \t-\r\nTHU \tTheory \tD1 \tB1 \tG1 \tTE1 \tTCC1 \t- \tLunch \tD2 \tB2-CSE1003-ETH-SJT305-UGF \tG2-MAT2001-ETH-SJT421-UGF \tTE2-CHY1701-ETH-SJT315-UGF \tTCC2-MAT1014-TH-SJT311-UGF \t- \tV6\r\nLab \tL19 \tL20 \tL21-CSE1002-LO-SJT416-UGF \tL22-CSE1002-LO-SJT416-UGF \tL23-CSE2011-ELA-MGB107 A-UGF \tL24-CSE2011-ELA-MGB107 A-UGF \tLunch \tL49 \tL50 \tL51 \tL52 \tL53 \tL54 \t-\r\nFRI \tTheory \tE1 \tC1 \tTA1 \tTF1 \tTD1 \t- \tLunch \tE2-CHY1701-ETH-SJT315-UGF \tC2-MAT1014-TH-SJT311-UGF \tTA2-CSE2011-ETH-SJT415-UGF \tTF2-STS1202-SS-SJT324-UGF \tTDD2 \t- \tV7\r\nLab \tL25 \tL26 \tL27 \tL28 \tL29-CSE1002-LO-SJT416-UGF \tL30-CSE1002-LO-SJT416-UGF \tLunch \tL55 \tL56 \tL57 \tL58 \tL59 \tL60 \t-\r\nSAT \tTheory \tV8 \tX11 \tX12 \tY11 \tY12 \t- \tLunch \tX21 \tZ21 \tY21 \tW21 \tW22 \t- \tV9\r\nLab \tL71 \tL72 \tL73 \tL74 \tL75 \tL76 \tLunch \tL77 \tL78 \tL79 \tL80 \tL81 \tL82 \t-\r\nSUN \tTheory \tV10 \tY11 \tY12 \tX11 \tX12 \t- \tLunch \tY21 \tZ21 \tX21 \tW21 \tW22 \t- \tV11\r\nLab \tL83 \tL84 \tL85 \tL86 \tL87 \tL88 \tLunch \tL89 \tL90 \tL91 \tL92 \tL93 \tL94 \t-\r\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "timetable object returned succesfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                },
                                "example": {
                                    "calendar": "BEGIN:VCALENDAR\r\nVERSION:4.0.7\r\nX-WR-CALNAME:20BDS0128\r\nX-WR-TIMEZONE:Asia/Kolkata\r\nBEGIN:VEVENT\r\nSUMMARY:CHY1701CHY1701 - Engineering Chemistry\r\nDTSTART;VALUE=DATE-TIME:20210223T160000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Engineering Chemistry\r\nLOCATION:SJT315 (BADAL KUMAR MANDAL)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CHY1701CHY1701 - Engineering Chemistry\r\nDTSTART;VALUE=DATE-TIME:20210226T140000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Engineering Chemistry\r\nLOCATION:SJT315 (BADAL KUMAR MANDAL)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CHY1701CHY1701 - Engineering Chemistry\r\nDTSTART;VALUE=DATE-TIME:20210225T170000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Engineering Chemistry\r\nLOCATION:SJT315 (BADAL KUMAR MANDAL)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CHY1701CHY1701 - Engineering Chemistry\r\nDTSTART;VALUE=DATE-TIME:20210222T113100\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Engineering Chemistry\r\nLOCATION:SMVG027 (ASHOK KUMAR S.K)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CHY1701CHY1701 - Engineering Chemistry\r\nDTSTART;VALUE=DATE-TIME:20210222T121600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Engineering Chemistry\r\nLOCATION:SMVG027 (ASHOK KUMAR S.K)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210222T080000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210222T084600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210225T100000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210225T104600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210226T113100\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1002CSE1002 - Problem Solving and Object Oriented Programming\r\nDTSTART;VALUE=DATE-TIME:20210226T121600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Problem Solving and Object Oriented Programming\r\nLOCATION:SJT416 (SUGANYA P)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1003CSE1003 - Digital Logic and Design\r\nDTSTART;VALUE=DATE-TIME:20210223T140000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Digital Logic and Design\r\nLOCATION:SJT305 (AVINASH CHANDRA)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1003CSE1003 - Digital Logic and Design\r\nDTSTART;VALUE=DATE-TIME:20210225T150000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Digital Logic and Design\r\nLOCATION:SJT305 (AVINASH CHANDRA)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1003CSE1003 - Digital Logic and Design\r\nDTSTART;VALUE=DATE-TIME:20210222T170000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Digital Logic and Design\r\nLOCATION:SJT305 (AVINASH CHANDRA)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1003CSE1003 - Digital Logic and Design\r\nDTSTART;VALUE=DATE-TIME:20210223T113100\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Digital Logic and Design\r\nLOCATION:SJT316 (AVINASH CHANDRA)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE1003CSE1003 - Digital Logic and Design\r\nDTSTART;VALUE=DATE-TIME:20210223T121600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Digital Logic and Design\r\nLOCATION:SJT316 (AVINASH CHANDRA)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE2011CSE2011 - Data Structures and Algorithms\r\nDTSTART;VALUE=DATE-TIME:20210222T140000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Data Structures and Algorithms\r\nLOCATION:SJT415 (SHALINI L)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE2011CSE2011 - Data Structures and Algorithms\r\nDTSTART;VALUE=DATE-TIME:20210224T150000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Data Structures and Algorithms\r\nLOCATION:SJT415 (SHALINI L)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE2011CSE2011 - Data Structures and Algorithms\r\nDTSTART;VALUE=DATE-TIME:20210226T160000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Data Structures and Algorithms\r\nLOCATION:SJT415 (SHALINI L)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE2011CSE2011 - Data Structures and Algorithms\r\nDTSTART;VALUE=DATE-TIME:20210225T113100\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Data Structures and Algorithms\r\nLOCATION:MGB107 A (SHALINI L)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:CSE2011CSE2011 - Data Structures and Algorithms\r\nDTSTART;VALUE=DATE-TIME:20210225T121600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Data Structures and Algorithms\r\nLOCATION:MGB107 A (SHALINI L)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT1014MAT1014 - Discrete Mathematics and Graph Theory\r\nDTSTART;VALUE=DATE-TIME:20210224T140000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Discrete Mathematics and Graph Theory\r\nLOCATION:SJT311 (RAJESH BHATT)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT1014MAT1014 - Discrete Mathematics and Graph Theory\r\nDTSTART;VALUE=DATE-TIME:20210226T150000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Discrete Mathematics and Graph Theory\r\nLOCATION:SJT311 (RAJESH BHATT)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT1014MAT1014 - Discrete Mathematics and Graph Theory\r\nDTSTART;VALUE=DATE-TIME:20210223T170000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Discrete Mathematics and Graph Theory\r\nLOCATION:SJT311 (RAJESH BHATT)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT1014MAT1014 - Discrete Mathematics and Graph Theory\r\nDTSTART;VALUE=DATE-TIME:20210225T180000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Discrete Mathematics and Graph Theory\r\nLOCATION:SJT311 (RAJESH BHATT)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT1014MAT1014 - Discrete Mathematics and Graph Theory\r\nDTSTART;VALUE=DATE-TIME:20210224T190100\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Discrete Mathematics and Graph Theory\r\nLOCATION:SJT311 (RAJESH BHATT)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT2001MAT2001 - Statistics for Engineers\r\nDTSTART;VALUE=DATE-TIME:20210223T150000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Statistics for Engineers\r\nLOCATION:SJT421 (ROY.S)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT2001MAT2001 - Statistics for Engineers\r\nDTSTART;VALUE=DATE-TIME:20210225T160000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Statistics for Engineers\r\nLOCATION:SJT421 (ROY.S)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT2001MAT2001 - Statistics for Engineers\r\nDTSTART;VALUE=DATE-TIME:20210222T180000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Statistics for Engineers\r\nLOCATION:SJT421 (ROY.S)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT2001MAT2001 - Statistics for Engineers\r\nDTSTART;VALUE=DATE-TIME:20210224T080000\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Statistics for Engineers\r\nLOCATION:SJT119 (ROY.S)\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nSUMMARY:MAT2001MAT2001 - Statistics for Engineers\r\nDTSTART;VALUE=DATE-TIME:20210224T084600\r\nDURATION:PT45M\r\nDTSTAMP;VALUE=DATE-TIME:20210407T193847Z\r\nRRULE:FREQ=WEEKLY;UNTIL=20210619T000000\r\nDESCRIPTION:Statistics for Engineers\r\nLOCATION:SJT119 (ROY.S)\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n",
                                    "reg_no": "20BDS0128"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Output": {
                "type": "object",
                "properties": {
                    "reg_no": {
                        "type": "string"
                    },
                    "calendar": {
                        "type": "string"
                    }
                }
            },
            "Input": {
                "type": "object",
                "properties": {
                    "timetable": {
                        "type": "string"
                    }
                },
                "required": [
                    "timetable"
                ]
            }
        }
    }
}